/* Apresentação */
.apresentacao {
    width: 940px;
    height: 366px;
    border-radius: 30px;
    background: #fbdfdb;
    margin-top: 30px;
    margin-left: 16.4%;
    display: flex;
}

.conteudo {
    margin-top: 117px;
    margin-left: 60px;
}

.conteudo h2 {
    font-size: 32px;
    font-weight: 700;
}

.conteudo p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    width: 316px;
}

.chef-img {
    margin-left: 248px;
    margin-top: 66px;
    width: 216px;
    height: 300px;
}

/* == Área Cards == */

.tops-box {
    margin: 50px 16.4% 40px 16.4%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.cards .titulo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.card {
    margin-top: 20px;
}

.produto-img img {
    width: 300px;
    border-radius: 15px;
}

.descricao {
    margin-top: 20px;
}

.descricao h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.descricao p {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
}