{% extends "layout.njk" %}

{% block content %}
    <div class="apresentacao">
        <div class="conteudo">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com recitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="chef-img">
            <img src="{{ about.chef_image }}" alt="Chef">
        </div>
    </div>
    <div class="tops-box">
        <div class="titulo">
            <h2>Mais acessadas</h2>
        </div>
        <div class="cards">
            {% for recipe in about.data_recipe %}
            <div class="card">
                <div class="produto-img">
                    <img src="{{recipe.image}}" alt="Foto da Receita">
                </div>
                <div class="descricao">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.author}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
