{% extends "layout.njk" %}

{% block head %}
<title> Erro 404 </title>
<link  rel="stylesheet" href="/style/not-found.css">
{%  endblock  %}

{%  block  content  %}
<div class="box_error">
    <div class="error_message">
        <img src="https://ik.imagekit.io/rafaelluz/Foodfy/chef_SfnCEb2OW.png" alt="">
        <h1> Erro 404 - Página não encontrada </h1>
    </div>
</div>
{%  endblock  %}