{% extends "layout.njk"%}

{% block head %}
    <link rel="stylesheet" href="/style/receitas.css">
    <title>Receitas</title>
{% endblock %}

{% block content %}
    <div class="cards">
        {% for recipe in recipes %}
        <div class="card">
            <div class="img-containers">
                <img src="{{ recipe.image }}" alt="">
            </div>
            <div class="informacao">
                <h3>{{ recipe.title }}</h3>
                <p>por {{ recipe.author }}</p>
            </div>
        </div>
        {% endfor %}
        {% for recipe in recipes %}
        <div class="card">
            <div class="img-containers">
                <img src="{{ recipe.image }}" alt="">
            </div>
            <div class="informacao">
                <h3>{{ recipe.title }}</h3>
                <p>por {{ recipe.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal hide">
        <div class="card-container">
            <div class="card-modal">
                <div class="img-modal">
                    <img src="/assets/burger.png" alt="">
                </div>
                <div class="informacao-modal">
                    <h3>Triplo bacon burger</h3>
                    <p>por Jorge Relato</p>
                </div>
                <div class="close-modal">
                    <a>Fechar modal</a>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
{% endblock %}
