{% extends "layout.njk"%}

{% block head %}
    <link rel="stylesheet" href="/style/receitas.css">
    <title>Receitas</title>
{% endblock %}

{% block content %}
    <div class="cards">
        {% for recipe in recipes %}
        <div class="card" id="{{recipe.id}}">
            <div class="img-containers">
                <img src="{{ recipe.image }}" alt="">
            </div>
            <div class="informacao">
                <h3>{{ recipe.title }}</h3>
                <p>por {{ recipe.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="/script.js"></script>
{% endblock %}
