{% extends "layout.njk"%}

{% block head %}
    <link rel="stylesheet" href="/style/receita.css">
    <title>Receita - {{ recipe.title }}</title>
{% endblock %}

{% block content %}
<div class="body">
    <div class="box_up">
        <div class="img-conteiner">
            <img src="{{ recipe.image }}" alt="Foto do prato">
        </div>
        <div class="title">
            <h3>{{ recipe.title }}</h1>
        </div>
        <div class="author">
            <h4>por {{ recipe.author }}</h3>
        </div>
    </div>
    <div class="box_down">
        <div class="box_ingredients">
            <div class="title_description">
                <h1>Ingredientes</h1>
                <a href="" cless="hide_show">ESCONDER</a>
            </div>
            <div class="list_ingredients">
                {% for ingredients in recipe.ingredients %}
                <li>{{ ingredients }}</li>
                {% endfor %}
            </div>
        </div>
        <div class="box_preparation">
            <div class="title_description">
                <h1>Modo de preparo</h1>
                <a href="" cless="hide_show">ESCONDER</a>
            </div>
            <div class="list_preparation">
                {% for preparation in recipe.preparation %}
                <li>{{ preparation }}</li>
                {% endfor %}
            </div>
        </div>
        <div class="box_information">
            <div class="title_description">
                <h1>Informações adicionais</h1>
                <a href="" cless="hide_show">ESCONDER</a>
            </div>
            <div class="description_information">
                <p>{{ recipe.information }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}